/tests export-ignore
/.github export-ignore
/.githooks export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.lando.yml export-ignore
/phpstan.neon export-ignore
/rector.php export-ignore
/captainhook.json export-ignore

* text=auto
