<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" testdox="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage/>
  <testsuites>
    <testsuite name="includes">
      <directory>tests/includes</directory>
    </testsuite>
    <testsuite name="variables">
      <directory>tests/variables</directory>
    </testsuite>
    <testsuite name="conditions">
      <directory>tests/conditions</directory>
    </testsuite>
    <testsuite name="iterators">
      <directory>tests/iterators</directory>
    </testsuite>
    <testsuite name="shortcodes">
      <directory>tests/shortcodes</directory>
    </testsuite>
    <testsuite name="compatibility">
      <directory>tests/compatibility</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="logs/testdox.txt"/>
  </logging>
</phpunit>
