<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" testdox="true" bootstrap="autoload.php">
    <testsuites>
        <testsuite name="includes">
            <directory>tests/includes</directory>
        </testsuite>

        <testsuite name="variables">
            <directory>tests/variables</directory>
        </testsuite>

        <testsuite name="conditions">
            <directory>tests/conditions</directory>
        </testsuite>

        <testsuite name="iterators">
            <directory>tests/iterators</directory>
        </testsuite>

        <testsuite name="shortcodes">
            <directory>tests/shortcodes</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="testdox-text" target="logs/testdox.txt"/>
    </logging>
</phpunit>