name: CI

on:
    push:
        branches:
            - develop
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: "actions/checkout@v2"
            - uses: "shivammathur/setup-php@v2"
              with:
                  php-version: 8.4

            - run: |
                  composer install
                  ./vendor/bin/phpstan analyse -c phpstan.neon
                  ./vendor/bin/phpunit -c ./tests/phpunit.xml
